<%=form_for :create_book, remote:true, html: { class:"form-add", id:"form-add", onSubmit:"createBook(event)" } do |f| %>
  <fieldset class="form-add-row">
    <%= f.label :name, "Название" %>
    <%= f.text_field :name %>
    <%= f.hidden_field :id %>
  </fieldset>
  <fieldset class="form-add-row">
    <%= f.label :author, "Автор" %>
    <%= f.text_field :author %>
  </fieldset>
  <fieldset class="form-add-row">
    <%= f.label :year, "Год" %>
    <%= f.select :year, options_for_select([*1990..2022], 2022) %>
  </fieldset>
  <br/>
  <fieldset class="form-add-row">
    <%= f.submit "Сохранить", class:"btn-small is--green", onClick:"createBook(event)" %>
    <%= f.submit "Отмена", type: "reset", class:"btn-small is--red" %>
  </fieldset>
<% end %>