<div class="books-list-row" data-book="<%= book.id %>">
  <div class="books-list--col">
    <b><%=book.name %></b>,
    <i><%=book.date.strftime("%Y") %></i>
  </div>
  <div class="books-list--col">
    <%=book.author %>
  </div>
  <div class="books-list--col">
    <button class="btn-small is--green js-update-book" onClick="updateBook(<%= book.id %>)">Изменить</button>
    <button class="btn-small is--red js-delete-book" onClick="deleteBook(<%= book.id %>)">Удалить</button>
  </div>
</div>