
  <%=form_for :filter, remote:true, html: { class:"form-filter", id: "form-filter", onChange: "updateBookList(event)" } do |f| %>
    <fieldset class="form-filter-col">
      <%= f.label :name, "Название", onkeypress:"javascript:updateBookListSendRequestWithTimer(1000)" %>
      <%= f.text_field :name %>
    </fieldset>
    <fieldset class="form-filter-col">
      <%= f.label :author, "Автор" %>
      <%= f.select :author, options_for_select(authors), include_blank:'не указан' %>
    </fieldset>
    <div class="form-filter-col">
      <fieldset class="form-filter-inner-col">
        <%= f.label :year_from, "С" %>
        <%= f.select :year_from, options_for_select(years, years.first) %>
        <%#= f.select :year_from, options_for_select([*1990..2022], 1990) %>
      </fieldset>
      <fieldset class="form-filter-inner-col">
        <%= f.label :year_to, "По" %>
        <%= f.select :year_to, options_for_select(years, years.last) %>
        <%#= f.select :year_to, options_for_select([*1990..2022], 2022) %>
      </fieldset>
      <%= render "layouts/diagramm", result:100 %>
    </div>
    <div class="form-filter-col form-filter-inner-row">
      <%= f.submit "Фильтровать", class:"btn-small is--green", onClick: "updateBookList(event)" %>
      <%= f.submit "Сбросить", type: "reset", class:"btn-small is--red", onClick: "updateBookListSendRequestWithTimer(1000)" %>
    </div>
  <% end %>
