<div class="wrap">
  <h2>Каталог книг</h2>
  <div id="form-filter-wrapper">
    <%= render "filter_form", authors: @authors, years: @years %>
  </div>
</div>
<div class="wrap">

  <div class="add-book-form-wrapper">
    <div class="add-book-form is--hidden"><%= render "add_book_form" %></div>
    <button class="btn js-toggle-add-book" onClick="toggleAddBookForm()">Добавить книгу</button>
  </div>

  <div class="books-list" id="js-book-list">
    <%= render "book_list", books: @books %>
  </div>
</div>