.add-book-form-wrapper {
  padding: 0.5rem 0;
}
  .add-book-form {
    display: block;
    &.is--hidden {
      display: none;
    }
  }

  .books-list {
    display: grid;
    row-gap: 1.5rem;
  }
    .books-list-row {
      display: grid;
      grid-column: 3 / 12;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      align-items: center;
    }
      .books-list--col {
        text-align: center;
        box-sizing: border-box;
      }

.form-filter {
  display: grid;
  grid-column: 1 / 12;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: baseline;
}
  .form-filter-inner-row {
    padding: 9px 0 0;
  }
  .form-filter-inner-col {
    display: inline-block;
    vertical-align: middle;
    width: 7rem;
  }

.form-add {
  display: block;
  box-sizing: border-box;
  padding: 0.5rem 0 1.5rem;
}
  .form-add-row {
    display: grid;
    grid-column: 1 / 12;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    align-items: center;
  }

.diagram-small {
  display: block;
  margin: 0.25rem auto;
  width: 4rem;
  height: 4rem;
}
