
// colors
$clr-gray-light: #F2F2F2;
$clr-gray: #CFCFCF;
$clr-gray-dark: #6F6F6F;
$clr-white: #FFFFFF;
$clr-light-black: #020202;
$clr-blue: #6DCFF6;
$clr-blue-light: #D5EDF6;

//

// font
$font: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 300;
$body-line-height: 1;
//

$content-max-width: 1068px;

//Main breakpoints:
$xs: 420px;
$sm: 640px;
$md: 980px;
$lg: 1366px;
$xl: 1920px;


@mixin media-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-down($breakpoint) {
  @media (max-width: ($breakpoint - 0.02)) {
    @content;
  }
}

@mixin media-between($breakpoint-from, $breakpoint-to) {
  @media (min-width: $breakpoint-from) and (max-width: ($breakpoint-to - 0.02)) {
    @content;
  }
}
