<div id="notification" class="notification notification_hidden">
  <div class="notification__message">Извините, произошла ошибка</div>
  <button class="notification__button_close btn-small" onclick="hideNotification();">Закрыть</button>
</div>

